*{
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background: black;
}
.container{
    height: 100vh;
    width: 100vw;
    background: url('/assets/images/forestbridge.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header{
    height: 3rem;
    background: rgba(0, 0, 0, 0.678);
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
}
.main-conent-container{
    flex: 1;
    /* background: rgba(255, 105, 180, 0.335); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.678);
}

/* Start */
.center-text{
    border-bottom: 2px solid rgba(245, 222, 179, 0.431);
    padding: 20px;
    text-align: center;
}
.recomemend-text{
    text-align: center;
}

.dimmed-text-cursor{
    animation: cursor-anim 1.5s ease-in-out infinite;
    color: rgba(255, 255, 255, 0.589);
}
@keyframes cursor-anim{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}